<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Confesiones con Spring y Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="../../css/style.css"
      th:href="@{/css/style.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="../../css/confesiones.css"
      th:href="@{/css/confesiones.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="../../css/login.css"
      th:href="@{/css/login.css}"
    />
  </head>

  <body>
    <div class="container">
      <div class="logo">
        <img
          id="logo-login"
          th:src="@{/svg/confesiones.svg}"
          alt="Logo de Confesiones 851"
        />
      </div>

      <form
        action="#"
        class="formulario"
        id="login-form"
        th:object="${confesion}"
        th:action="@{/confesion}"
        method="post"
      >
        <div class="grupo-input">
          <label for="id">ID: </label>
          <input type="number" th:field="*{id}" />
        </div>
        <div class="grupo-input">
          <label for="titulo">Titulo: </label>
          <input type="text" th:field="*{titulo}" />
        </div>
        <div class="grupo-input">
          <label for="cuerpo">Confesion: </label>
          <input type="text" th:field="*{cuerpo}" />
        </div>
        <div class="grupo-input">
          <label for="tags">Ingresa 3 etiquetas separadas por coma: </label>
          <input type="text" name="tags" />
        </div>
        <div class="botones">
          <button id="envio" type="submit" name="save">Confiesa!</button>
        </div>
      </form>
    </div>
  </body>
</html>
