body{
    background-color: #107361;

    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
#espacioTotal {
    display: flex;
    background-color: #8FC1B5;
    border-radius: 1%;
    position:relative;
}
#Lado{
    margin-left: 1%;
}
#Tittle {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    align-items: center; 
    justify-content: center;
    font-size:larger;
    font-weight: bold;
}
.enunciado{
    font-size: large;
    font-weight: bold;
}
#button-inicio{
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 100%;
}

.button{
    margin: 0 auto;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #8FC1B5;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
/*Creacion de ventana emergente */
#ventana-emergente {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }