<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{%block tittle%}{%endblock%}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css')}}">
    </head>
    <body>
        <div>
            <a class="back-btn" href="{{ url_for('index') }}"><span>&larr;</span></a>
        </div>
        {%block modal%}{%endblock%}
        <div id="divFormu">{%block forms%}{%endblock%}</div>
        {% block javascript %}{% endblock %}

        {%if data['error'] != ''%}
            <script>
                console.log("cositas");
                window.alert("{{data.error}}");
            </script>
        {% endif %}
    </body>

</html>