{%extends 'forms/base.html'%}
{%block tittle%}agregar donacion{%endblock%}
{%block modal%}
<div id="ventana-emergente">
    <p>¿Confirma que desea agregar esta donación?</p>
    <button type="button" id="aceptar" onclick="aceptated(1)">Si, confirmo</button>
    <button type="button" id="cancelar" onclick="aceptated(0)">No, quiero volver al formulario</button>
</div>
{%endblock%}

{%block forms%}
<p id="titulo">Agregar Donacion</p>
<form class="formulario" action="/agregar_donacion" id="formulario" method="post" enctype="multipart/form-data">
    <p >Seleccione region *</p>
    <select id="regiones" name="region"></select>
    <p class="emergenteRegion"></p>
    <p>Seleccione Comuna *</p>
    <select id="comunas" name="comunas"></select>
    <p class="emergenteCommune"></p>
    <p>Calle y numero *</p>
    <input id="direction" name="calle-numero" type="text" placeholder="ejm: Beauchef 851">
    <p class="emergentedirection"></p>
    <p>tipo de donacion *</p>
    <select id="tipe-donation" name="tipoDonacion">
        <option value="0">Seleccione tipo</option>
        <option value="fruta">Frutas</option>
        <option value="verdura">Verduras</option>
        <option value="otro">Otros</option>
    </select>
    <p class="emergentetype"></p>
    <p>Cantidad de donacion *</p>
    <input id="cantidad" name="cantidad" type="text" maxlength="10" >
    <p class="emergenteAmount"></p>
    <p>Fecha de disponibilida *</p>
    <input id="fecha" name="fecha" type="text" placeholder="AAAA-MM-DD" >
    <p class="emergenteDate"></p>
    <p>Descripcion de donacion</p>
    <input id="descripcion" name="descripcion" type="text" >
    <p class="emergenteDescription"></p>
    <p>Condicion de retiro</p>
    <input id="condiciones" name="condiciones" type="text" maxlength="80" >
    <p class="emergenteCondition"></p>
    <p>Ingrese fotos *</p>
    <input id="fotos" name="fotos" type="file" accept="image/*" multiple>
    <p class="emergentePhotos"></p>
    <p>Ingrese Nombre *</p>
    <input type="text" id="name_donante" name="name_donante" >
    <p class="emergenteName"></p>
    <p>Email *</p>
    <input type="email" id="email_donante" name="email_donante" >
    <p class="emergenteEmail"></p>
    <p>Numero de telefono *</p>
    <input type="text" id="number-phone" name="number-phone" placeholder="+569********" >
    <p class="emergenteNumber"></p>
    <button type="submit" id="buttonValidate">Agregar Donacion</button>
</form>

{%endblock%}
{% block javascript %}
    <script src="{{ url_for('static', filename='JavaScripts/agregar-donacion.js') }}"></script>
{%endblock%}
z