<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock%}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css')}}">
        {%block css%}{%endblock%}
    </head>
    <body>
        <header>
            <p>Grandes Donaciones </p>
        </header>
        <div id="navSup" class="navSup">
            <div id="center" >
                <div><a class="button" href="{{ url_for('form_add_don') }}">Agregar donaciones</a> </div>
                <div><a class="button" href="{{ url_for('form_add_order') }}">Agregar Pedido</a> </div>
                <div><a class="button" href="{{ url_for('see_donations',pag = 1) }}">Ver Donaciones</a> </div>
                <div><a class="button" href="{{ url_for('see_orders', pag = 1) }}">Ver Pedidos</a> </div>
            </div>
        </div>
        {% if msg %}
            <div class="msg_center"><p>{{msg}}</p></div>
        {% endif %}
        {%block body%}{%endblock%}
        {% block javascript %}{% endblock%}
    </body>
</html>